/* common share styles */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1320px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    
}
/* header banner styles */
.header{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-size: cover;
    margin-top: 50px;
}
.header-section{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    padding-top: 160px;
    padding-bottom: 160px;
}
.header-title{
    font-size: 32px;
    font-weight: 400;
    padding-left: 530px;
    padding-right: 530px;
}
.header-subtitle{
    font-size: 72px;
    font-weight: 900;
    padding-left: 344px;
    padding-right: 344px;
    margin-top: 5px;
}

/* holiday styles */
.holiday-section{
    text-align: center;
}
.header-section img{
    width: 700px;
    height: 400px;
}
.holiday-offer{
    color: #F00;
    font-size: 80px;
    margin-bottom: 25px;
}
.holiday-title{
    color: #F00;
    font-size: 20px;
    margin: 0px;
}
.holiday-subtitle{
    color: #070211;
    font-size: 43px;
    margin: 0px;
    padding-bottom: 20px;
}

/* welcome section styles */
.welcome-section{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/resources/Vectorrr.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}
.party{
    display: flex;
}
.welcome-party{
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 140px;
}
.party img{
    padding: 66px 126px 68px 45px;
}
.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    margin: 0px;
    padding-right: 55px;
    padding-bottom: 24px;
}
.welcome-subtitle{
    color: rgba(255, 255, 255, 0.80);
    font-size: 17px;
    width: 697px;
    padding-right: 40px;
}
.welcome-party button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    border: none;
    padding-top: 48px;
    padding-left: 32px;
}

/* place section styles */
.place-section{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 16px;
}
.place-detail{
    text-align: center;
    font-size: 32px;
    padding-top: 100px;
    padding-left: 320px;
    padding-right: 320px;
}
.place-detail h3{
    color: #070211;
    margin: 0px;
}
.place-detail span{
    color: #F00;
}
.place-section button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin: 40px 560px 110px 560px;
}

/* coming soon styles */
.coming-section{
    display: flex;
}
.best-offer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.best-offer h4{
    color: #F00;
    font-size: 24px;
    margin: 0px;
    padding-bottom: 14px;
}
.best-offer h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-transform: capitalize;
    margin: 0px;
    padding-right: 60px;
    padding-bottom: 22px;
}
.best-offer p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    width: 388px;
    margin: 0px;
}
.ellipse-circle{
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-left: 50px;
}
.ellipse-circle img{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    margin: 49px;
}
.new-year{
    padding-left: 118px;
}
.new-year h2{
    color: #F00;
    font-size: 48px;
    margin: 0px;
    padding-top: 105px;
    padding-bottom: 16px;
}
.new-year p{
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-size: 18px;
    padding-bottom: 43px;
    margin: 0px;
}
/* discount styles */
.discount-detail{
    text-align: center;
    padding: 0px 126px;
}
.discount-detail h4{
    color: #070211;
    align-items: center;
    font-size: 24px;
    margin: 0px;
    padding-bottom: 16px;
}
.discount-detail h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 70px;
    margin: 0px;
    padding-left: 190px;
    padding-right: 190px;
}
.discount-detail p{
    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    text-align: center;
    font-size: 18px;
    padding-top: 24px;
    margin: 0px;
}
.discount{
    display: flex;
    padding-top: 50px;
    background: url('../images/resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 16px 16px 16px 16px;
    flex-shrink: 0;
    margin: 0px;
}
.box img {
    width: 710px;
    height: 570px;
    padding-right: 95px;
    padding-left: 20px;
}
.offer{
    background-image: url('../images/resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 16px 16px 0px 0px;
    width: 344px;
    height: 348px;
    flex-shrink: 0;
    margin: 0px;
    padding-left: 150px;
}
.offer img{
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
    margin-left: -100px;
    margin-top: 90px;
}
/* gift section style */
.gift-title h4{
    color: #F00;
    font-size: 24px;
    margin: 0px;
    padding-bottom: 14px;
}
.gift-title h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-transform: capitalize;
    margin: 0px;
    padding-bottom: 20px;
}
.gift-title p{
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 40px;
}
.gift-items img{
    width: 420px;
    height: 430px;
    flex-shrink: 0;
    margin: 0px;
}
.gift{
    padding-right: 16px;
}
.list{
    padding-bottom: 16px;
}
/* Subscribe section style */
.subscribe-section {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-detail{
    text-align: center;
    padding-top: 80px;
    margin: 0px;
}
.subscribe-detail h2{
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 22px;
}
.subscribe-detail p{
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-size: 20px;
    padding: 0px 212px;
    margin: 0px;
}
.btn-item{
    text-align: center;
    padding-top: 40px;
    padding-left: 300px;
}
.email-btn{
    width: 648px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
    border: none;
}
.email-btn[placeholder]{
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
}
.subscribe-btn{
    width: 210px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    padding: 22px 48px;
    padding-bottom: 48px;
    margin-right: 300px;
    margin-left: -215px;
    border: none;
}
/* footer styles */
.footer-section{
    background: #070211;
}
.footer-detail{
    display: flex;
    color: #FFF;
    font-size: 20px;
    justify-content: space-between;
    margin: 0px;
    padding-bottom: 40px;
}
.footer-address{
    padding-top: 120px;
    padding-left: 140px;
    padding-right: 550px;
}
.footer-address p{
    margin: 0px;
}
.footer-contact{
    padding-top: 110px;
    padding-right: 270px;
    margin: 0px;
}
.footer-contact p{
    margin: 0px;
}
.social-link{
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
.social-link img{
    padding-right: 24px;
}
.footer-section hr{
    background: rgba(146, 135, 135, 0.15);
    width: 1320px;
    height: 1px;
    border: none;
}
.footer-end{
    color: #FFF;
    font-size: 20px;
    display: flex;
    padding-bottom: 110px;
    padding-top: 40px;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;
}
.footer-end button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    border: none;
    
}