/* common share styles */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 50px 100px 100px 100px;
}
/* header banner styles */
.header{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-size: cover;
}
.header-section{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    padding-top: 160px;
    padding-bottom: 160px;
}
.header-title{
    font-size: 32px;
    font-weight: 400;
    padding-left: 530px;
    padding-right: 530px;
}
.header-subtitle{
    font-size: 72px;
    font-weight: 900;
    padding-left: 344px;
    padding-right: 344px;
    margin-top: 5px;
}

/* holiday styles */
.holiday-section{
    text-align: center;
}
.header-section img{
    width: 700px;
    height: 400px;
}
.holiday-offer{
    color: #F00;
    font-size: 80px;
    margin-bottom: 25px;
}
.holiday-title{
    color: #F00;
    font-size: 20px;
    margin: 0px;
}
.holiday-subtitle{
    color: #070211;
    font-size: 43px;
    margin: 0px;
    padding-bottom: 20px;
}

/* welcome section styles */
.welcome-section{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/resources/Vectorrr.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin-top: 100px;
}
.party{
    display: flex;
}
.welcome-party{
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 140px;
}
.party img{
    padding: 66px 126px 68px 45px;
}
.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    margin: 0px;
    padding-right: 55px;
    padding-bottom: 24px;
}
.welcome-subtitle{
    color: rgba(255, 255, 255, 0.80);
    font-size: 17px;
    width: 697px;
    padding-right: 40px;
}
.welcome-party button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    border: none;
    padding-top: 48px;
    padding-left: 32px;
}